
/*Sizing*/

/*Header Section*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

header nav {
  display: inline-block;
  width: 500px;
}

header span {
  padding-right: 30px;
}

h1 {
  color: MediumAquamarine;
  font-size: 14px;
  width: 800px;
  padding-left: 10px;
}
/*Body Section*/
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
}

.column.large {
  width: 630px;
  padding-top: 10px;
}

.column.large div {
  border: 1px solid black;
  padding: auto;
}
.column.medium {
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
}

.column.medium div {
  border: 1px solid black;
  padding: auto;
}
.column.small {
  width: 240px;
  padding-top: 10px;
  padding-left: 20px;
}

.column.small div {
  border: 1px solid black;
  padding: auto;
}
